@charset "UTF-8";

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
}

.clear-fix {
    overflow: auto;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    line-height: 48px;
    display: inline;
}

span {
    color: #ffffff;
    padding: 5px;
}

body {
    background: #333;
    text-align: center;
    margin-top: 10%;
}

#videoCanvas {
    /* Always stretch the canvas to 640x480, regardless of its
    internal size. */
    width: 640px;
    height: 480px;
}